doctype html
html
  head
    title Разделы сайта
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='../routes/sections.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body(onload='test()')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') ОТДЫХ И РАЗВЛЕЧЕНИЯ
          a.mail-btn(href='#')
            img(src='/images/mail-btn.png')
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1 Обратная связь
        p
          | Вы можете отправить заявку на добавление статьи, либо оставить сообщение для администрации.
        p
          a.btn.btn-primary.btn-lg(href='/', role='button') На главную »
    .container
      .row
        .col-md-4
          .cover-stash
                form#commentform(action='http://ab-w.net/comments.php', method='post', name='commentform')
                  p
                    input#author(type='text', name='author', value='', size='25')
                    small  Имя
                  p
                    input#email(type='text', name='email', value='', size='25')
                    small  Mail
                  p
                    textarea#comment(name='comment', cols='48', rows='8')  
                  p
                    input#submit(name='submit', type='submit', value='Отправить')
        .col-md-8
          .dicription-stash
      footer
        p © Dnimreven 2015
    // /container
