doctype html
html
  head
    title Отдых и развлечения
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='../routes/sections.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body(onload='test()')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') ОТДЫХ И РАЗВЛЕЧЕНИЯ
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1 Список разделов
    .container
      .row
        #article-0.col-md-4
          h2 Каталог
            hr
          p
            a(href='#') Развлечения
          p
            hr
          p
            a(href='#') Туризм и отдых
          p
            hr
          p
            a(href='#') Активный отдых
          p
            hr
          p
            a(href='#') Здоровье и красота
            hr
        .col-md-4
          h2 Афиша
            hr
          p
            a(href='#') Кино
          p
            hr
          p
            a(href='#') Концерты
          p
            hr
          p
            a(href='#') Спектакли
          p
            hr
          p
            a(href='#') Выставки
          p
            hr
          p
            a(href='#') События
          p
            hr
          p
            a(href='#') Спорт
            hr
        .col-md-4
          h2 Клиентам
            hr
          p
            a(href='#') Добавить компанию
          p
            hr
          p
            a(href='#') Обратная связь
            hr
      footer
        p © Dnimreven 2015
    // /container
