doctype html
html
  head
    title Разделы сайта
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(type='text/javascript', src='../routes/sections.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body(onload='test()')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') ОТДЫХ И РАЗВЛЕЧЕНИЯ
          a.mail-btn(href='#')
            img(src='/images/mail-btn.png')
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1 Отдых и развлечения
        p
          | Советы по разнообразию вашего отдыха. Какие необычные развлечения придумать себе на досуге, куда пойти отдохнуть и многие другие способы расслабления - обо всем читайте на нашем сайте.
        p
          a.btn.btn-primary.btn-lg(href='/', role='button') На главную »
    .container
      .row
        .col-md-2
          .art-link
          - var hrefs = links
          - each item in links
            a(href='#{item}') 
              p Читать подробнее
              br
              br
        .col-md-10
          .art-disc
            - var items = names
            - each item in names
              p #{item}
              br
              br
      footer
        p © Dnimreven 2015
    // /container
