<!DOCTYPE html>
<html>

<head>
    <title>Отдых и развлечения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="../routes/sections.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body onload="test()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ОТДЫХ И РАЗВЛЕЧЕНИЯ</a>
            </div>
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Список разделов</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="article-0">
                <h2>Каталог</h2>
                <p><a href="#">Развлечения</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Туризм и отдых</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Активный отдых</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Здоровье и красота</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Афиша</h2>
                <p><a href="#">Кино</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Концерты</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Спектакли</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Выставки</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">События</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Спорт</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Меню</h2>
                <p><a href="#">Добавить компанию</a>
                </p>
                <p>
                    <hr>
                </p>
                <p><a href="#">Обратная связь</a>
                </p>
            </div>
        </div>
        <footer>
            <p>&copy; Dnimreven 2015</p>
        </footer>
    </div>


    <!-- /container -->
</body>

</html>